<!DOCTYPE html>
<html data-color-mode="light" data-dark-theme="light">
  <head>
    <link rel="stylesheet" href="css/index.css" />
    <script type="text/javascript" src="popup.js"></script>
  </head>
  <body>
    <div id="welcome" class="p-3 d-flex flex-column flex-justify-center flex-items-center">
      <h1 class="h1">References+</h1>
      <h3 class="h3">An Extension for GitHub</h3>
      <div id="pre-auth" class="d-flex flex-column flex-justify-center flex-items-center">
        <p class="f5 mt-3">
          This extension contains a collection of features to help improve referencing within pull
          requests.
        </p>
        <input id="username" class="form-control" type="text" placeholder="GitHub username" />
        <button id="auth" class="m-3 btn" type="submit">Authenticate with GitHub</button>
      </div>

      <div id="post-auth" class="d-none">
        <p class="f5 mt-3">You are now authenticated!</p>
      </div>
    </div>
  </body>
</html>
